---
layout: default
title: Inicio
description: EGHYA es un blog de worldbuilding y narración escrito por Iván O.M.
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {{ post.content }}
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | relative_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | relative_url }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GPD6K1RZ9H"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-GPD6K1RZ9H');
  </script>
</head>

<head>
    <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
</head>
<body>
  <div id="vcomment"></div>
  <script>
    var langName = 'es',
    langMode = {  
        "nick": "Apodo",
        "mail": "E-Mail",
        "link": "Website(http://)",
        "nickFail":"El apodo no puede tener menos de 3 caracteres.",
        "mailFail":"Por favor confirme su E-Mail.",
        "sofa": "Aún no hay comentarios",
        "submit": "Enviar",
        "reply": "Responder",
        "cancelReply": "Cancelar respuesta",
        "comments": "Comentarios",
        "cancel": "Cancelar",
        "confirm": "Confirmar",
        "continue": "Continuar",
        "more": "Cargar más...",
        "preview": "Previsualizar",
        "emoji": "Emoji",
        "expand": "Ver más...",
        "seconds": "segundos",
        "minutes": "minutos",
        "hours": "horas",
        "days": "días",
        "now": "justo ahora",
        "uploading":"Cargando...",
        "uploadDone":"Carga completada",
        "busy":"El servidor está saturado, espere por favor",
        "code-98":"Valine initialization failed, please check your version of av-min.js.",
        "code-99": "Valine initialization failed, Please check the `el` element in the init method.",
        "code-100": "Valine initialization failed, Please check your appId and appKey.",
        "code-140":"The total number of API calls today has exceeded the development version limit.",
        "code-401": "Unauthorized operation, Please check your appId and appKey.",
        "code-403": "Access denied by API domain white list, Please check your security domain."
    };

    var valine = new Valine();
    valine.init({
        el:'#vcomment',
        appId:'alYeph0WYsjadORtFBsouuH2-MdYXbMMI',
        appKey:'YTBvuc66LM3elg7RhcrrqSQ2',
        placeholder:'¡Deja un comentario!',
        lang:'es',
        langMode: langMode
    })
  </script>