---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  {{ content }}
</article>

{% if site.related_posts != empty %}
<aside class="related">
  <h3>Related posts</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}

<head>
    <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
</head>
<body>
  <div id="vcomment"></div>
  <script>
    var langName = 'es',
    langMode = {  
        "nick": "Apodo",
        "mail": "E-Mail",
        "link": "Website(http://)",
        "nickFail":"NickName cannot be less than 3 bytes.",
        "mailFail":"Please confirm your email address.",
        "sofa": "No comment yet.",
        "submit": "Submit",
        "reply": "Reply",
        "cancelReply": "Cancel reply",
        "comments": "Comments",
        "cancel": "Cancel",
        "confirm": "Confirm",
        "continue": "Continue",
        "more": "Load More...",
        "preview": "Preview",
        "emoji": "Emoji",
        "expand": "See more....",
        "seconds": "seconds ago",
        "minutes": "minutes ago",
        "hours": "hours ago",
        "days": "days ago",
        "now": "just now",
        "uploading":"Uploading ...",
        "uploadDone":"Upload completed!",
        "busy":"Submit is busy, please wait...",
        "code-98":"Valine initialization failed, please check your version of av-min.js.",
        "code-99": "Valine initialization failed, Please check the `el` element in the init method.",
        "code-100": "Valine initialization failed, Please check your appId and appKey.",
        "code-140":"The total number of API calls today has exceeded the development version limit.",
        "code-401": "Unauthorized operation, Please check your appId and appKey.",
        "code-403": "Access denied by API domain white list, Please check your security domain."
    };

    var valine = new Valine();
    valine.init({
        el:'#vcomment',
        appId:'alYeph0WYsjadORtFBsouuH2-MdYXbMMI',
        appKey:'YTBvuc66LM3elg7RhcrrqSQ2',
        lang:'es',
        langMode: langMode
    })
  </script>
</body>